@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Poor+Story&display=swap");

* {
  margin: 0;
  padding: 0; /* 기본 마진 제거 => body말고 *에 주어야 위도 공간 없어짐*/

  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

body {
  background-color: rgb(195, 195, 195);
  min-height: 100vh;
  overflow-x: hidden;
  /* % , vh 공부하기 */
}

.headerBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header {
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: center;
}
/* h1{
      color: rgba(255, 255, 255, 0.642);
    } */
#cinema {
  height: 100px;
  width: 100px;
  padding-left: 70px;
}

label {
  margin: 20px 20px;
  font-weight: bold;
  font-size: 20px;
}

/* 검색창 */
.search {
  display: flex;
  position: relative;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
}

input {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #bbb;
  margin: 10px 0;
  padding: 10px 12px;
}

#searchBtn {
  position: absolute;
  right: 30px;
  top: 35px;
  margin: 0;
  height: 40px;
  width: 40px;
}

/* 탑버튼 */
button {
  margin: 0px 10px;
  width: 70px;
  height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #444;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
  padding: 10px;
  width: 100%;
  overflow: hidden;

  /* row의 간격을 10px로 */
  column-gap: 20px;
  /* column의 간격을 20px로 */

  background-size: 100% 100%;
  padding-top: 20px;
  cursor: pointer;
  /* 영화 img 마우스 커서 바뀜 */
}

.movieItem {
  padding: 20px;
  margin: 10px 0px;
  width: 400px;
  box-sizing: border-box;
  text-align: center; /* div 자식요소들을 가운데 정렬*/
  border-radius: 35px;
  border: none;
}

.movieItem > img {
  border-radius: 35px;
}

img {
  padding-bottom: 10px;
  height: auto;
  width: 350px;
}
p {
  padding: 10px 0px;
}

.labels {
  display: flex;
  justify-content: flex-end;
  padding: 30px 50px 30px 0px;
  font-size: 1.3em;
}

.labelContainer {
  display: flex;
  gap: 15px;
}

#label1,
#label2 {
  cursor: pointer;
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  font-size: 1em;
}

#label1:hover,
#label2:hover {
  background-color: rgb(134, 134, 134);
}

/* 슬라이드 */
.slideWrapper {
  position: relative;
  width: 90%;
  margin: 50px auto 0px auto;
  height: 500px;
  overflow: hidden;
}
.slides {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.5s ease-out;
}
.slides li:not(:last-child) {
  justify-content: flex-start;
  margin-right: 30px;
}
.prev {
  font-size: 30px;
  position: absolute;
  top: 430px;
  left: 50px;
}
.next {
  font-size: 30px;
  position: absolute;
  top: 430px;
  right: 50px;
}
/* 스크롤 프로그래스 바*/
.bar {
  position: fixed;
  width: 100%;
  height: 10px;
  background-color: #5b443d;
}

.movieItem img,
.slides li .movieImg {
  transition: transform 0.2s ease-in-out;
}

.movieItem img:hover,
.slides li .movieImg:hover {
  transform: scale(1.038);
}

.movieItem img:hover {
  box-shadow: 0 0 15px 10px white;
}

footer {
  border-top: 1px solid #ababab;
  padding: 30px 0;
  margin: 30px 0;
}

.teamName {
  margin-top: 30px;
  text-align: center;
  line-height: 1.6;
  color: #666;
  font-size: 14px;
}
